*.pyc
.DS_Store
.git
.project

.Python
bin/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
include/
lib/
lib64/
local/
parts/
sdist/
static/
var/
*.egg-info/
.installed.cfg
*.egg

*.log
local_settings.py
